@page "/"

<h1>Hello, world!</h1>

Welcome to your new app.

<hr>

<h2>Razor Component</h2>
<SurveyPrompt Title="How is Blazor working for you?" />

<h2>Custom Element</h2>
<survey-prompt title="How is Blazor working for you?" role="alert"></survey-prompt>
